.wrapper {
  border-radius: 8px;
  padding: 8px 10px;
  display: grid;
  grid-template-columns: 1fr 44px;
  background: var(--surface-surface-high);
  &:not(:last-child) {
    margin-top: 8px;
  }
}

.times {
  display: grid;
  column-gap: 2px;
  text-align: right;
}
.time {
  font: var(--reg-12);
  color: var(--grey-color);
}
.fist {
  font: var(--sem-b-16);
}

.actions {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  gap: 4px;
}

.hidden {
  display: none;
}